/*
	Revankar, Akash
	jadrn054
	Project #4
	Fall 2017
*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Poiret One', Helvetica, Arial, 'Trebuchet MS';
	font-size: 19px;
	min-width: 800px;
}

::selection {
	background-color: rgba(255, 255, 255, 0.50);
}

.sales-report-container ::selection {
	background-color: rgba(0, 0, 0, 0.50);
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.italics {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: bold;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.required {
	color: #ff0000;
	vertical-align: super;
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.banner {
	font-size: 30px;
	font-weight: bolder;
    position: fixed;
    top: 3px;
    left: 25px;
    z-index: 3;
}

.banner a {
	text-decoration: none;
}

.banner a:link,
.banner a:active,
.banner a:visited,
.banner a:hover {
	color: #000000;
}

.navbar {
	width: 100%;
	min-width: 800px;
	background-color: #fdfdfd;
	position: fixed;
	top: 0;
	z-index: 2;
}

.menu-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: none;
}
	
.menu-bar .menu-item { 
	display: inline;
	font-size: 18px;
	color: #000000;
	padding-left: 2px;
	padding-right: 2px;
}

.menu-bar li:last-of-type {
	padding-right: 15px;
}

.menu-item a {
	text-decoration: none;
	padding: 10px 8px;
}

li a:link,
li a:active,
li a:visited,
li a:hover {
	color: #000000;
}

li a:hover {
	text-shadow: 0 0 5px #000000;
}

#cart-item-count {
	margin-left: 5px;
	display: inline-block;
	width: 20px;
	font-size: 12px;
	color: #ffffff;
	vertical-align: super;
	background-color: #ff3333;
	border-radius: 8px;
}

#cart-nav {
    background-image: url('../images/cart-icon.png');
    background-size: contain;
}

.home, .products, .order, .aboutus, .contact {
	/*
	Parallax scrolling effect.
	https://www.w3schools.com/howto/howto_css_parallax.asp 
	*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
	background-image: url('../images/home.jpg');
    min-height: 100%;
}

.products {
	background-image: url('../images/products.jpg');
    min-height: 100%;
}

.order {
	background-image: url('../images/orders.jpg');
    min-height: 450px;
}

.aboutus {
	background-image: url('../images/aboutus.jpg');
    min-height: 400px;
}

.contact {
	background-image: url('../images/contact.jpg');
    min-height: 370px;
}

.home {
	position: relative;
    top: 50px;
    color: #ffffff;
}

.titlecard {
	font-size: 60px;
	text-shadow: 3px 3px 5px #000000;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 50px 0 20px 0;
}

.home-products-wrapper {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
	padding-bottom: 80px;
}

.home-products-container {
	padding-bottom: 45px;
}

.home-products-title {
	font-size: 30px;
	padding: 20px 0;
}

.home-product {
	width: 250px;
}

#more-products {
	width: 160px;
	color: #000000;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.65);
	border-radius: 2px;
	padding: 5px 10px;
	text-decoration: none;
}

#more-products a:link,
#more-products a:active,
#more-products a:visited,
#more-products a:hover {
	color: #000000;
	text-decoration: none;
}

.heading {
	position: -webkit-sticky;
	position: sticky;
	top: 45px;
	width: 100%;
	background-color: #fdfdfd;
	z-index: 1;
	padding-bottom: 3px;
	padding-top: 3px;
}

.heading .row1, .heading .row2 {
	width: 500px;
	margin: 5px auto;
	display: flex;
	justify-content: space-evenly;
}

.heading .row2 {
	justify-content: space-between;
}

.content {
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 30px;
	color: #ffffff;
}

.categorized-products {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ffffff;
}

.category {
	margin-top: 30px;
}

.category .title {
	width: 400px;
	padding-top: 25px;
}

.product-list, .home-products-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.product, .home-products {
	padding: 10px 30px 30px 30px;
	margin-top: 20px;
	width: 600px;
}

.product img, .home-product img {
	border: 5px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

.product p, .home-product p {
	padding: 3px 0;
}

#add-to-cart {
	background-color: #4CAF50;
    border: none;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font-size: 15px;
    font-family: 'Poiret One', Helvetica, Arial, 'Trebuchet MS';
}

.contact .content {
	margin-top: 0;
	height: 300px;
}

.empty-cart-msg {
	padding-top: 80px;
	padding-bottom: 100px;
}

.empty-cart-msg img {
	padding-top: 40px;
}

#here a:link,
#here a:active,
#here a:visited,
#here a:hover {
	color: #ffffff;
}

.cart {
	padding-top: 20px;
}

.tables {
    width: 420px;
	padding-bottom: 60px;
}

.cart-items-table, .billing-table {
	width: 100%;
	padding-top: 10px;
	border-spacing: 0 2px;
}

.cart-items-table td, .billing-table td {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
    padding: 4px;
}

.cit-col1 {
	width: 100px;
}

.cit-col2 {
	padding-left: 10px;
}

.bt-col1 {
	padding-right: 5px;
}

.bt-col2 {
	padding-left: 5px;
}

.remove-button {
    color: #ff0000;
	float: right;
    padding-top: 8px;
	border: none;
	background-color: transparent;
}

.cart-empty-order-buttons {
    width: 250px;
    padding-bottom: 100px;
}

.place-order-button, .empty-cart-button {
    border: none;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
	font-family: 'Poiret One', Helvetica, Arial, 'Trebuchet MS';
    cursor: pointer;
    width: 120px;
}


.place-order-button {
	background-color: #4caf50;
	margin-left: 5px;
}

.empty-cart-button {
	background-color: #d21919;
	margin-right: 5px;
}

.order-confirmation {
	width: 810px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-confirmation p {
	padding-top: 8px;
}

#continue-shopping {
	background-color: #00aaff;
    border: none;
    color: #ffffff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
	font-family: 'Poiret One', Helvetica, Arial, 'Trebuchet MS';
    cursor: pointer;
	margin-top: 15px;
}

.place-order-form-modal {
	display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.place-order-form-container {
	width: 810px;
    padding-top: 45px;
}

#close-modal {
    font-size: 15px;
    padding-right: 10px;
    padding-top: 5px;
}

#close-modal:hover,
#close-modal:focus {
    cursor: pointer;
}

#note {
	font-size: 15px;
	padding-bottom: 5px;
}

#place-order-form {
	width: 810px;
	background-color: rgba(0, 0, 0, 0.9);
    border: 5px solid #000000;
    border-radius: 3px;
}

#place-order-form h2 {
	padding-top: 10px;
}

.form-tables {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#place-order-form table {
	width: 405px;
}

#place-order-form td {
	text-align: center;
	font-size: 16px;
	width: 250px;
}

.addr-heading {
	padding-top: 10px;
}

input[name^="addrline"] {
	width: 150px;
}

input[name^="state"] {
	width: 40px;
}

input[name^="zip"] {
	width: 60px;
}

input[name^="phone"] {
	width: 90px;
}

input[name="expr-date"] {
	width: 60px;
}

#same-addr {
	width: 810px;
    margin-bottom: 12px;
}

.errors {
    font-size: 12px;
    font-weight: 600;
    height: 15px;
    color: #ff0000;
    margin-bottom: 12px;
}

.error-background {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 1px 2px;
	margin-top: 1px;
}

#payment-table .errors {
	margin-bottom: 0;
}

.form-buttons {
	width: 215px;
    padding: 20px 0 30px 0;
}

.form-buttons button {
    border: none;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 15px;
    font-family: 'Poiret One', Helvetica, Arial, 'Trebuchet MS';
}

#cancel {
	background-color: #ff3333;
	cursor: pointer;
}

#clear-form {
	background-color: #00aaff;
	cursor: pointer;
}

#pay-now {
	background-color: #4caf50;
}

.aboutus-content {
	width: 700px;
}

.aboutus-content p {
	padding: 30px 0;
}

.aboutus-content p:last-child {
	padding-bottom: 60px;
}

.social {
	width: 250px;
	position: relative;
	bottom: 0;
}

.social-links {
	display: flex;
	justify-content: space-evenly;
}

.sales-report-container {
	font-family: "Roboto Mono", monospace;
}

.sales-report-container h2 {
	margin-top: 20px;
}

.sales-report-container table {
	margin: 180px auto 60px auto;
	border-collapse: collapse;
    width: 1200px;
}

.sales-report-container table tr:first-child {
	position: fixed;
    top: 154px;
    width: 1200px;
}

.sales-report-container td, th {
	width: 120px;
	padding: 7px;
}

.sales-report-container td, th {
	padding-right: 4px;
}

.sales-report-container tr:nth-child(odd) {
	background-color: #d3d3d3;
}

.sales-report-container .aggregate-stats {
	position: fixed;
    top: 0;
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%;
}

#profit {
	color: #25b50b;
	font-size: 25px;
}

button {
	border-radius: 2px;
}